<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Helmets Bike</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0 minimum-scale=1.0">
        <link rel="stylesheet" href="Dist/Css/Estilos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="icon" type="image/jpeg" href="Dist/Img/logo.jpeg">
    </head>
    <body>
        <header class="main-header">
            <div class="container container--flex">
                <div class="main-header__container">
                    <h1 class="main-header__title">HELMETS BIKE</h1>
                    <span class="icon-menu fa-solid fa-bars" id="btn-menu"></span>
                    <nav class="main-nav" id="main-nav">
                        <ul class="menu">
                            <li class="menu__item"><a href="" class="menu--link">Inicio</a></li>
                            <li class="menu__item"><a href="" class="menu--link">Sobre</a></li>
                            <li class="menu__item"><a href="" class="menu--link">Caracteristicas</a></li>
                            <li class="menu__item"><a href="" class="menu--link">Tienda</a></li>
                            <li class="menu__item"><a href="" class="menu--link">Contactox </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="main-header__container">
                    <span class="main-header__txt">Necesito ayuda</span>
                    <p class="main-header__txt"><i class="fa-sharp fa-solid fa-phone-volume"></i> Contactanos al + 57 3204428643</p>
                </div>
                <div class="main-header__container">
                    <i class="fa-solid fa-user-tie"></i>
                    <a href="" class="main-header__btn"> Mis compras <i class="fa-brands fa-shopify"></i></a>
                    <input type="search" class="mein-header__input" placeholder="Buscar productos"><i class="fas fa-search"></i>
                </div>
            </div>
        </header><div class="space"></div>
        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="Dist/Img/img1.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Lo mejor para ti</h2>
                        <p class="slider__txt">Manejamos financiamiento</p>
                        <a href="" class="slider__link">COMPRAR AHORA</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="Dist/Img/img2.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Lo mejor en protección</h2>
                        <p class="slider__txt">Diferentes tipos de pago</p>
                        <a href="" class="slider__link">COMPRAR AHORA</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="Dist/Img/img3.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Protegiendo moteros de verdad</h2>
                        <p class="slider__txt">Los mejores descuentos</p>
                        <a href="" class="slider__link">COMPRAR AHORA</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="Dist/Img/img4.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Pensamos siempre en tu seguridad</h2>
                        <p class="slider__txt">Nuestros productos son certificados</p>
                        <a href="" class="slider__link">COMPRAR AHORA</a>
                    </div>
                </div>
                <div class="slider__section">
                    <img src="Dist/Img/img5.jpg" alt="" class="slider__img">
                    <div class="slider__content">
                        <h2 class="slider__title">Elige siempre lo mejor para tu seguridad</h2>
                        <p class="slider__txt">Excelentes materiales</p>
                        <a href="" class="slider__link">COMPRAR AHORA</a>
                    </div>
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
        </div>
        <main class="main">
            <div class="container">
                <h2 class="main-title">Nuevas cosas para ti</h2>
                <section class="container-products">
                <div class="product">
                    <img src="Dist/Img/Helmets/img1.webp" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">MT-Helmets</h3>
                        <span class="product__price">$ 350.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img2.webp" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">HRO</h3>
                        <span class="product__price">$ 250.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img3.jpeg" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">Scorpion</h3>
                        <span class="product__price">$ 700.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img4.jpeg" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">Abatible</h3>
                        <span class="product__price">$ 235.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img5.jpeg" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">Shaft proseries</h3>
                        <span class="product__price">$ 500.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img6.png" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">Bonnie</h3>
                        <span class="product__price">$ 605.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img7.jpeg" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">AGV</h3>
                        <span class="product__price">$ 1.000.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                <div class="product">
                    <img src="Dist/Img/Helmets/img8.jpeg" alt="" class="product__img">
                    <div class="product__description">
                        <h3 class="product__title">RuRock</h3>
                        <span class="product__price">$ 1.700.000</span>
                    </div>
                    <i class="product__icon fa-solid fa-cart-plus"></i>
                </div>
                </section>
            </div>
            <div class="comtainer-editor">
                <div class="editor__item"><img src="" alt="" class="editor__img"></div>
                <div class="editor__item"><img src="" alt="" class="editor__img"></div>
            </div>
        </main>
        <script src="Dist/JS/Slider.js"></script>
    </body>
</html>